* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #cece5a;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #c51605;
}

h1,
h2,
strong {
  color: black;
  margin-bottom: 8px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  height: auto;
  width: 320px;
}

.main-container {
  width: 400px;
  margin: 0 auto;
  text-align: center;
  /* border: 1px solid red; */
}

.recipes {
  margin: 0 auto;
}

.text {
  text-align: left;
}

.list {
  text-align: left;
}

.recipes li {
  margin-top: 10px;
}
